* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   line-height: 1;
   font-family: sans-serif;
   color: #444;
   background-color: bisque;
}

.container {
   max-width: 120rem;
   height: 100vh;
   padding: 0 3.2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

#google_signout {
   border: none;
   background-color: #fff;
   width: 19rem;
   height: 3.5rem;
   border: 1px solid #ccc;
}
